.start {
    background-color: rgb(78, 159, 61);
    border: none;
    color: white;
    padding: 2vw 2vh;
    text-align: center;
    font-size: 3vh;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10vh;
}

.review-button {
    background-color: rgb(96, 153, 102);
    border: none;
    color: white;
    padding: 2vw 2vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 15px 15px 15px 15px;
}

.review {
    position: absolute;
    background-color: rgb(64, 81, 59);
    z-index: 1000;
    width: 70%;
    display: none;
    border-radius: 15px 15px 15px 15px;
    top: 50%;
    left: 50%;
    overflow-y: auto;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform: translate(-50%, -50%);
}

.faq {
    position: absolute;
    background-color: rgba(55, 51, 48, 0.548);
    z-index: 1000;
    width: 80%;
    height: 70%;
    display: none;
    border-radius: 15px 15px 15px 15px;
    top: 50%;
    left: 50%;
    overflow-y: auto;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform: translate(-50%, -50%);
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Modal Header */
.header {
    padding: 2vmin;
    display: flex;
    justify-content: flex-end;
}

.footer {
    padding: 3vmin 3vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start:hover {
    background-color: #9DC08B;
}

.logo {
    position: relative;
    width: 100%;
    height: 100%;
}

.faq-button {
    background-color: white;
    border-radius: 100%;
    height: 10vi;
    width: 10vi;
}

.play-button {
    background-color: white;
    border-radius: 100%;
    height: 20vi;
    width: 20vi;
}

.start:hover {
    background-color: #1E5128;
}

.modal {
    position: fixed;
    z-index: 2000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* Modal Header */
.modal-header {
    padding: 2vmin;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    border-radius: 25px 25px 0 0;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
    display: block;
    color: black;
}

/* Modal Footer */
.modal-footer {
    padding: 3vmin 3vmin;
    background-color: white;
    display: flex;
    justify-content: flex-end;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 50vh auto 0;
    transform: translateY(-50%);
    padding: 2vmin;
    border: 1px solid #888;
    border-radius: 15px 15px 15px 15px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}